.topnavAdmin {
    background-color: #ad0632e1;
    overflow: hidden;
    margin-bottom: 100px;
    float: 100%;
    width:100%; 
    position: fixed;
    left: 0;
    top: 0;
    }
    .topnavAdmin a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    width: 33.33%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    box-sizing: border-box;
    }
    .topnavAdmin a:hover {
    background-color: #aa3d5ae1;
    color: black;
    }