<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1, h2, h3, h4, h5, p, span, div {text-align: center;}
    </style>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="css/admin.css">
    <meta charset="UTF-8">
    <title>Dating Universe Statistics</title>
</head>
<body>
    <div class="topnavAdmin">
        <a href="adminPage.html">Home</a>
        <a href="adminUpdate.html">Update</a>
        <a href="adminDelete.html">Delete</a>
    </div>
        <br>
        <br>
        <br>
    <div>
        <h3>Dating Universe statistics for administrators</h3>
        <h5>Get an overview of the dating user and match statistics and records</h5>
        <div id = "allUsers">
            <button type="button" class="btn btn-outline-success" id="getUsers">Get all users</button>
            </div>
    <br>
        <div id="allMatches">
          <button type="button" class="btn btn-outline-success" id="getMatches">Get all matches</button>
        </div>

<script src="js/getStatistics.js"></script>
</body>
</html>