<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center;}
        h3 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="css/admin.css">
    <meta charset="UTF-8">
    <title>Dating Universe Statistics</title>
</head>
<body>
    <div class="topnavAdmin">
        <a href="adminPage.html">Home</a>
        <a href="adminUpdate.html">Update</a>
        <a href="adminDelete.html">Delete</a>
    </div>
        <br>
        <br>
        <br>
    <div>
        <h1>Admin</h1>
        <h2>View all users</h2>
        <div>

    <!--DETTE ER VOERS DISPLAY ALL USERS, opfylder kravet om at admin ser alle users-->
    <p id="getUsers">Click the button to VIEW and GET ALL USERS</p>
    <button type="button" class="btn btn-outline-primary" onclick="getUsers()">Try it</button>

    <br>


<script src="js/adminGetUsers.js"></script>
</body>
</html>