<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dating Universe Statistics</title>
</head>
<body>
    <div>
        <h1>Admin</h1>
        <h2>View all users</h2>
        <div>

    <!--DETTE ER VOERS DISPLAY ALL USERS, opfylder kravet om at admin ser alle users-->
    <p id="getUsers">Click the button to VIEW and GET ALL USERS</p>
    <button onclick="getUsers()">Try it</button>

    <br>

      <!--DETTE ER VOERS delete User så admin også kan slette brugere-->
      <p id="...">Enter the first name on the given user and DELETE USER from dating app</p>
      <input type="firstName" id="firstName" placeholder="enter first name">
      <button>Delete user</button>
    </div>

<script src="js/adminIndex.js"></script>
</body>
</html>