<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1, h2, h3, h4, h5, p, span, div {text-align: center;}
    </style>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="css/admin.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="topnavAdmin">
        <a href="adminPage.html">Home</a>
        <a href="adminUpdate.html">Update</a>
        <a href="adminDelete.html">Delete</a>
    </div>
        <br>
        <br>
        <!--Admin page for updating a user's password-->
        <br>
    <h3>Update</h3>
    <h5 >Enter a user's email to reset his/her password</h5>
    <div> 
        <form>
            <input type="hidden" name="_method" value="PUT">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="New password">
            <button type="button" class="btn btn-outline-primary" id="updateUser" value="put">Update User</button>
        </form>
    </div>

    <script src="js/updateUser.js"></script>
</body>
</html>