<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center;}
        h2 {text-align: center;}
        h3 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="css/admin.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="topnavAdmin">
        <a href="adminPage.html">Home</a>
        <a href="adminUpdate.html">Update</a>
        <a href="adminDelete.html">Delete</a>
    </div>
        <br>
        <br>
        <br>
        <h3>Delete user</h3>
        <div>
            <!--DETTE ER VOERS delete User så admin også kan slette brugere-->
            <p id="...">Enter the first name on the given user and DELETE USER from dating app</p>
            <input type="firstName" id="firstName" placeholder="enter first name">
            <button type="button" class="btn btn-outline-primary">Delete user</button>
          </div>
    
</body>
</html>