<!--Admin can delete user account here-->
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1, h2, h3, h4, h5, p, span, div {text-align: center;}
    </style>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="css/admin.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="topnavAdmin">
        <a href="adminPage.html">Home</a>
        <a href="adminUpdate.html">Update</a>
        <a href="adminDelete.html">Delete</a>
    </div>
        <br>
        <br>
        <br>
        <h3>Delete a dating user by entering their id</h3>
        <div>
            <form>
                <input type="hidden" name="_method" value="DELETE">
                <input type="number" id="id" placeholder="User's ID">
                <button type="button" class="btn btn-outline-danger" id = "deleteUser">Delete</button>
            </form>
        </div>

    <script src="js/adminDelete.js"></script>
</body>
</html>