<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center;}
        h3 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="css/admin.css">
    <meta charset="UTF-8">
    <title>Welcome to the Dating Universe Admin Site</title>
</head>

<body>
    <div>
        <br>
        <h2>Create an account</h2>
        
        <form method="post" id="adminForm">
            <input type="text" id="firstName" placeholder="First Name" required>
            <input type="text" id="lastName" placeholder="Last Name" required>            
            <input type="email" id="email" placeholder="Email" required>
            <input type="text" id="password" placeholder="Password" required> <br>
            <button class="btn btn-outline-primary" type="submit" name="Submit">Create your account!</button>
        </form>
    </div>


    <div><a href="adminLogin.html"> Or, want to login as an admin? Click here</a></div>
    <script src="js/adminIndex.js"></script>
</body>
</html>