<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="css/admin.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="topnavAdmin">
        <a href="adminPage.html">Home</a>
        <a href="adminUpdate.html">Update</a>
        <a href="adminDelete.html">Delete</a>
    </div>
        <br>
        <br>
        <br>
    <h3>Update</h3>
    <h2 >Enter a users email and password so you can change their password</h2>
    <div> 
        <form>
            <input type="hidden" name="_method" value="PUT">
            <input type="number" id="age" placeholder="Age">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Password">
            <button type="button" id="updateUser" value="put">Update User</button>
        </form>
    </div>
</body>
</html>