<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Dating Universe Admin Site</title>
</head>

<body>
    <div>
        <h2>Create an account</h2>
        
        <form method="post" id="adminForm">
            <!--<input type="text" id="firstName" placeholder="FirstName" required>-->
            <input type="text" id="lastName" placeholder="LastName" required>            
            <input type="email" id="email" placeholder="Email" required>
            <input type="text" id="password" placeholder="Password" required>
            <button type="submit" name="Submit">Create your account!</button>
        </form>
    </div>

    <!--DETTE TILHØRER LOGINFUNKTIONEN TIL ADIMIN tror jeg-->
     <div>
        <h2>Login</h2>
        <form method="post" id="adminLogin" action="adminPage.html">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Passsword">
            <!--<a href="./homepage.html" onclick=""  class="button">Log in</a>-->
            <button type="submit" id="adminLogin" >Login as administrator</button>
        </form>
    </div>
                
    <!--DETTE ER VOERS DISPLAY ALL USERS, opfylder kravet om at admin ser alle users-->
    <p id="getUsers">Click the button to VIEW and GET ALL USERS</p>
    <button onclick="getUsers()">Try it</button>

    <br>

      <!--DETTE ER VOERS delete User så admin også kan slette brugere-->
      <p id="...">Enter the first name on the given user and DELETE USER from dating app</p>
      <input type="firstName" id="firstName" placeholder="enter first name">
      <button>Delete user</button>


    <script src="js/adminIndex.js"></script>
</body>
</html>