<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1, h2, h3, h4, h5, p, span, div, form, button, body{text-align: center;}
    </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <meta charset="UTF-8">
    <title>Explore the dating universe</title>
</head>
<body>
    <div class="topnav">
    <a href="homepage.html">Home</a>
    <a href="profile.html">Profile</a>
    <a href="explore.html">Explore</a>
    <a href="yourMatches.html">Your matches</a>
    <a href="settings.html">Settings</a>
    </div>
    <br>
    <br>
    <br>
    <p><h3>Explore Dating Universe now!</h3></p>
    <p>Find users below!</p>
    <p>When you've found someone interesting, come back here and type in the lucky numbers!</p>
    <div id= "likedUser">     
        <form method ="POST" id="likeUser" >
        <input type = "number" id="receiver_id" class="form-control" placeholder="The hottie's lucky number" required><br><br>
        <button type ="submit" class="btn btn-outline-success">Like a user</button>
        </form>
    </div>
    <br>
    <div id = "checkMatchNow">
    <button type="button" class ="btn btn-outline-danger" id="checkMatch">Check if it's a match
        </button>
        <span style="font-size:500%;color: #ad0632e1">&hearts;</span>
    </div>
    <div id = "confirmMatchNow">
    <form  method="POST">
        <p>If the user has liked you back, 
            you can confirm here that you're still interested</p>
    <button type="button" class ="btn btn-outline-success" id="confirmMatch">Confirm interest
        </button>
        </form></div>
    <br>
    <div id= "disLikedUser">     
        <form method ="POST" id="dislikeUser">
        <input type = "number" id="dislikeReceiver_id" class="form-control" placeholder="The other's bad lucky number" required><br><br>
        <button type ="submit" class="btn btn-outline-danger">Disike a user</button>
        </form>
    </div><br><br>
    
    <p>Find potential matches in your area below!</p>
    
    <div id = "usersNearby">
            <form method="get">
                <button class="btn btn-outline-primary" type="button" id="getUsersNearby" class="button">Find users nearby!</a>
                </button>
                
            </div>
<br>

<p>Select your dating preferences and find a match</p>
<div id = "usersGender">
    <form method="get">
        <input type="radio" id="male1" name="gender" value="Male">
            <label for="male">Male</label><br>
            <input type="radio" id="female1" name="gender" value="Female">
            <label for="female">Female</label><br>
            <input type="radio" id="other1" name="gender" value="Other">
            <label for="other">Other</label><br>
        <br>
        <button type="button" class="btn btn-outline-primary" id="getUserByGender" class="button">Filter users by gender!</a>
            </button>
    </div>
    <br>    

<div id="usersAge">
    <form method="get" >
    <input type="number" id="minAge" placeholder="Minimum age" >
    <input type="number" id="maxAge" placeholder="Maximum age" >
    <br><br>
    <button type="button" class="btn btn-outline-primary" id="getUserByAge" class="button">Filter users by age!</a><br>
        </button>
</div>

<br>
<button onclick="topFunction()" class="btn btn-outline-primary" id="myBtn" title="Go to top">Go to top to like or dislike user!</button>
<!--<div>
<h2>Lastly, find you match to find your match</h2>
<input type="fistName" id="fistName" placeholder="Enter first name">
<br>
<p id="...">Click the button to see if it is a match</p>
<button onclick="">Like</button>
</div>-->

<!--Indsæt nye script med firstname match delen når det er der-->


<script src="js/explore.js"></script>
</body>
</html>