<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center;}
        h3 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <meta charset="UTF-8">
    <title>Matches</title>
</head>
<body>
    <div class="topnav">
    <a href="homepage.html">Home</a>
    <a href="profile.html">Profile</a>
    <a href="explore.html">Explore</a>
    <a href="yourMatches.html">Your matches</a>
    <a href="settings.html">Settings</a>
    </div>
    <br>
    <br>
    <br>
<p><h3>See matches here!</h3></p>
    <!--den der tidligere lå på index.html - MEN ER DEN IKKE DET SAMME SOM OVENSTÅENDE-->
    <p>Enter a city and see potential matches in your area below!</p>
    <div id = "usersNearby">
    <form method="get">
        <input type="text" id="city" placeholder="City" required>
        <br>
        <button type="button" class="btn btn-primary btn-sm"" id="getUsersNearby" class="button"> Find users in your city!</a>
            </button>
    </div>
<br>

<p>Select your preferences and find a match</p>
<div id = "usersGender">
    <form method="get">
        <input type="text" id="gender" placeholder="Sexual preferences" required>
        <br>
        <button type="button" class="btn btn-primary btn-sm" id="getUsersByGender" class="button">Filter users by gender!</a>
            </button>
    </div>
    <br>    

<div id="usersAge">
    <form method="get" >
    <input type="number" id="minAge" placeholder="Minimum age" >
    <input type="number" id="maxAge" placeholder="Maximum age" >
    <br>
    <button type="button" class="btn btn-primary btn-sm" id="getUsersByAge" class="button">Filter users by age!</a>
        </button>
</div>

<br>

<!--<div>
<h2>Lastly, find you match to find your match</h2>
<input type="fistName" id="fistName" placeholder="Enter first name">
<br>
<p id="...">Click the button to see if it is a match</p>
<button onclick="">Like</button>
</div>-->

<!--Indsæt nye script med firstname match delen når det er der-->
<script src="js/explore.js"></script>
</body>
</html>