<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating Homepage</title>
</head>
<body>
    <h1>Welcome</h1>
    <div>
        <h2>Login</h2>
        <button type="button" id="login">Login</button>
        <form method="get" action="/View/profile.html" id="form">
           <input type="email" id="email" placeholder="Email">
           <input type="password" id="password" placeholder="passsword">
           <a href="profile" class=>Log in</a>
       </form>
   </div>

   <script src="js/index.js"></script>
</body>
</html>


<a href="./index.html" class="btn btn-secondary">Log out</a>