<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <meta charset="UTF-8">
    <title>Dating Homepage</title>
</head>
<body>
    <h2>When you have created your account, you can login below:</h2>
    <div>
       <form method="post">
           <input type="email" id="email" placeholder="Email">
           <input type="password" id="password" placeholder="Passsword">
           <!--<a href="./homepage.html" onclick=""  class="button">Log in</a>-->
           <button id="login" >log in</button>
       </form>
   </div>-->

<!--Dette er den der hedder get full user - men skal den bruges til noget? Vel ikke et krav
   <div>
    <h2>get full user</h2>
    <input type="city" id="city" placeholder="city">
    <button type="button" id="getUser">Get user</button>
</div>-->

<script src="js/login.js"></script>
<!--Logout-->
<!--
<br>
<div>
    <h3>You can logout down below</h3>
        <button type="button" id="logout" class="btn btn-secondary">Log out</a>
    </div>

<br>
<br>

<script src="js/logout.js"></script>

-->

<ahref></ahref>

</body>
</html>

