<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating</title>
</head>

<body>
    <div>
        <h1>Create an account:</h1>
     
        <form method="post" id="form">
            <input type="text" id="firstName" placeholder="FirstName" required>
            <input type="text" id="lastName" placeholder="LastName" required>            
            <input type="email" id="email" placeholder="Email" required>
            <input type="text" id="password" placeholder="Password" required>
            <input type="integer" id="age" placeholder="Age">        
            <input type="text" id="city" placeholder="City" required>
            <input type="text" id="country" placeholder="Country" required>            
            <input type="text" id="gender" placeholder="Gender" required>
            <input type="text" id="preferred_gender" placeholder="Preferred_gender" required>
            <button type="submit" name="Submit">Create your account!</button>
        </form>
    </div>
 
    <!-- <div>
         <h2>Get user</h2>
         <button type="button" id="getUser">get user</button>
     </div>
    <form action="get">
    <div>
        <input type="text" id="city" placeholder="City" required>
    </div>
    </form>

    <br>
    <div>
        <button type="button" id="getFullUser" class="button">Get all users nearby</a>
    </div>-->

    <br>
    <br>

    <div>
        <form method="post" id="filter1">
        <input type="text" id="gender" placeholder="Sexual preferences" required>
        <button type="button" id="filterGender" class="button">Filter users by gender!</a>
            </button>
    </div>
    <div>
        <form method="post" id="filter2">
        <input type="number" id="minAge" placeholder="Minimum age" required>
        <input type="number" id="maxAge" placeholder="Maximum age" required>
        <button type="button" id="filterAge" class="button">Filter users by age!</a>
    </div>
    <script src="js/index.js"></script>
</body>
</html>