<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Log in below</title>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
</head>
<body>
    <br>
    <div>
        <h2>Please, log in below</h2>
        <div>
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Passsword" required>
            <!--<a href="./homepage.html" onclick=""  class="button">Log in</a>-->
            <button class="btn btn-outline-primary" id="login" >log in</button>
        </div>
<br>
        <a href="index.html">Haven't got an account yet? Click here</a>
    </div>

<div>
    <a href="admin.html"> Or, want to login as an admin? Click here</a>
</div>


    <script src="js/login.js"></script>
    
</body>
</html>