<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matches</title>
</head>
<body>
<H1>See matches here!</H1>
    <!--den der tidligere lå på index.html - MEN ER DEN IKKE DET SAMME SOM OVENSTÅENDE-->
<h2>Enter a city and see potential matches in your area below!</h2>
<input type="city" id="city" placeholder="enter city ">
<p id="getUsersNearby">Click the button to see matches in area</p>
<button onclick="getUsersNearby()">Try it</button>

<h2>Select your match here by entering thier name</h2>
<input type="fistName" id="fistName" placeholder="enter fistName">
<p id="...">Click the button to see if it is a match</p>
<button onclick="">Try it</button>

<!--Indsæt nye script med firstname match delen når det er der-->
<script src="js/getUsersNearby.js"></script>
</body>
</html>