<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating Profile</title>
</head>
<body>
    <h1>Name: </h1>
<!--
    <div id="logout">
    <button type="button" id="logout" class="btn btn-secondary">Log out</a>
    </div>
    <script src="js/index.js"></script>-->
    <div>
        <input type="text" id="city" placeholder="City" required>
    </div>
    <br>
    <div>
        <button type="button" id="getFullUser" class="button">Get all users nearby</a>
    </div>
    <script src="js/getFullUser.js"></script>
</body>

</html>