<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center;}
        h2 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <meta charset="UTF-8">
    <title>Dating Profile</title>
</head>
<body>
    <div class="topnav">
    <a href="homepage.html">Home</a>
    <a href="profile.html">Profile</a>
    <a href="explore.html">Explore</a>
    <a href="yourMatches.html">Your matches</a>
    <a href="settings.html">Settings</a>
    </div>
    <br>
    <br>
    <br>

    
    <h2>My profile</h2>
    <div id = "myProfile">
        <form method="get">
            <button class="btn btn-outline-primary" id="getProfile" type="button" class="button">See your profile!</a></button>
        </div>

        <br>

    <!--Update your user-->
    <h2 >Enter email and password so you can update informations</h2>
    <div> 
        <form>
            <input type="hidden" name="_method" value="PUT">
            <input type="number" id="age" placeholder="Age">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Password">
            <button type="button" class="btn btn-outline-primary" id="updateUser" value="put">Update User</button>
        </form>
    </div>
    <div><button class="btn btn-outline-dark" type="submit" id="logout" >Logout</button></div>
 
    
<script src="js/profile.js"></script>
</body>

</html>