<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating Profile</title>
</head>
<body>
    <h1>YOUR PROFILE</h1>


    <!--HVIS MAN SKAL OPDATERE SIN BRUGER-->
    <h2 >Enter your email, password and age to update your user</h2>
    <div> 
        <form>
            <input type="hidden" name="_method" value="PUT">
            <input type="number" id="age" placeholder="Age">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Password">
            <button type="button" id="updateUser" value="put">Update User</button>
        </form>
    </div>
 
    <!--Slette konto-->
    <h2>Enter your email and password and push the button to delete your user</h2>
    <div>
        <form>
            <input type="hidden" name="_method" value="DELETE">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="password">
            <button id = "deleteUser">Delete</button>
        </form>
    </div>
    <a href="matches.html" class="btn">Click here to find potential matches!</a>


<!--Logout-->
    <div>
    <h3>You can logout down below</h3>
        <button type="button" id="logout" class="btn btn-secondary">Log out</a>
    </div>

    <script src="js/profile.js"></script>

</body>

</html>