<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Matches</title>
</head>
<body>
    <div class="topnav">
    <a href="homepage.html">Home</a>
    <a href="profile.html">Profile</a>
    <a href="explore.html">Explore</a>
    <a href="yourMatches.html">Your matches</a>
    <a href="settings.html">Settings</a>
    </div>
    <br>
    <br>
    <br>
    
<H1>Your Matches</H1>
<p>Click here to get all your matches</p>
<button onclick="getMatches()">See your matches</button>

<script src="js/getMatches.js"></script>
</body>
</html>