<!-- Dating user can get a list of his matches and delete a match-->
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1, h2, h3, h4, h5, p, span, div {text-align: center;}

    </style>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Matches</title>
</head>
<body>
    <div class="topnav">
    <a href="homepage.html">Home</a>
    <a href="profile.html">Profile</a>
    <a href="explore.html">Explore</a>
    <a href="yourMatches.html">Matches</a>
    <a href="settings.html">Settings</a>
    </div>
    <br>
    <br>
    <br>
    
<H1>My matches</H1>
<div id = "myMatches">
<p>Click here to get all your matches</p>
    <button type="button" id = "getMyMatches" class="btn btn-outline-success">See your matches</button>
</div>
<br>
<br>
<h4>Do you regret matching with a specific user?</h4>
<p> No hard feelings - delete the match here:</p>
<div id = "deleteMatches">
    <form>
     <input type="hidden" name="_method" value="DELETE">
    <input type = "number" id= "matchNumber" class="form-control" placeholder ="Type in the match number to delete">
    <br>
    <button type="button" id = "deleteMatch" class="btn btn-outline-danger">Delete match</button>
    </form>
</div>

<script src="js/matches.js"></script>
</body>
</html>